<ion-header>
    <ion-navbar>
        <ion-title>{{'Shop Image' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- <ion-content>
    <div class="img-container" (click)="goOnfurnituredetailPage(row)" *ngFor="let row of category_list">
        <img src="{{upload_url+row.image_name}}">
        <div class="content-box">
            <p>{{row.category}}</p>
        </div>
    </div>
    
    <div class="image-detail" *ngIf="category_list.length == 0">
        <img src="assets/imgs/no_found.svg">
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content> -->



<ion-content>
    <form #f="ngForm" (ngSubmit)="f.form.valid ? submit() : scrollUp()">

      
            <ion-item>
                <div class="uploade-image">
                    <ul>
                        <li *ngFor="let pic of image_data;let i = index;">
                            <!-- <h1>check{{pic.id}}</h1> -->
                            <img src="{{pic.id ? upload_url+pic.image : pic.image}}">
                            <!-- <img src="{{uploadurl+pic.image}}" > -->

                            <!-- <button class="bn_clr"><i class="material-icons cmr_ghr" (click)="remove_image(i)">clear</i></button> -->
                            <span class="cancel-icon">
                                <i class="material-icons crose-icon" (click)="remove_image(i)">clear</i>
                            </span>
                        </li>

                        <li class="add-bg-1" (click)="captureImage()" *ngIf="image_data.length < 5">
                            <i class="material-icons">camera_alt</i>
                                    <p>{{'Upload Image' | translate}}</p>

                        </li>
                    </ul>

                </div>

            </ion-item>

       




        <button ion-button full color="primary"  [disabled]="saveFlag == true">{{'Save' |
            translate}}</button>
       

    </form>
</ion-content>