<ion-header>
    <ion-navbar>
        <ion-title> {{'Shop Image' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- <ion-content>
    <div class="furn-container" >
        <div class="furn-imgs" *ngFor="let row of sub_cat_list;let i=index" (click)="goOnfurnituresharePage(i)">
            <img src="{{upload_url+row.image_name}}">
        </div>
    </div>
    
    <div class="image-detail" *ngIf="sub_cat_list.length == 0">
        <img src="assets/imgs/no_found.svg">
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content> -->






<ion-content>

    




    <div class="profile-card">

        <div class="text-center">
            <!-- <h2 class="shp_fnt">{{ 'Shop Image' | translate }}</h2> -->
        </div>
        <div class="pr16 pl16" *ngFor="let row of productDataImg; let i = index">
          <div class="bill_img shp_im">
            <img src="{{upload_url + row.image}}">
          </div>
        </div>
    </div>

    <ion-fab right bottom >
        <button ion-fab color="secondary" (click)="updateShopImage()"> <i class="material-icons">add</i></button>
      </ion-fab>
      
</ion-content>